<.live_component
  module={StreamArchiverWeb.StreamLive.FormComponent}
  id={@stream.id}
  title={@page_title}
  action={@live_action}
  stream={@stream}
  return_to={Routes.stream_index_path(@socket, :index)}
/>