<h1>Show Stream</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @stream.name %>
  </li>

  <li>
    <strong>Broadcaster ID:</strong>
    <%= @stream.broadcaster_user_id %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.stream_edit_path(@socket, :edit, @stream), class: "button" %></span> |
<span><%= live_redirect "Back", to: Routes.stream_index_path(@socket, :index) %></span>
